{% assign primary_btn_color_styles = 'text-gray-900 rounded-sm shadow-sm bg-orange-500 hover:bg-orange-400 active:bg-orange-600 h-10 w-fit px-4 py-2 flex items-center justify-center' %}
{% assign light_btn_color_styles = 'rounded-sm shadow-sm bg-white hover:bg-orange-300 active:bg-orange-700 h-10 w-fit px-4 py-2 flex items-center justify-center' %}

<div
  style="
    background-image: 
    linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), 
    url('{{ section.settings.image | image_url }}');"
  class="w-full bg-no-repeat bg-cover flex items-center justify-center"
>
<div class="text-white">
  <div class="h-[550px] flex flex-col items-center justify-center">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="text-3xl md:text-4xl lg:text-6xl font-medium" {{ block.shopify_attributes }}>
            <span>{{ block.settings.heading | escape }}</span>
          </h2>
        {%- when 'text' -%}
          <div class="mb-8" {{ block.shopify_attributes }}>
            <p>{{ block.settings.text | escape }}</[>
          </div>
        {%- when 'buttons' -%}
          <div
            class="flex items-center gap-8"
            {{ block.shopify_attributes }}
          >
            {%- if block.settings.button_label_1 != blank -%}
              <a
                {% if block.settings.button_link_1 == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link_1 }}"
                {% endif %}
                class="{{ primary_btn_color_styles }}"
              >
                {{- block.settings.button_label_1 | escape -}}
              </a>
            {%- endif -%}
            {%- if block.settings.button_label_2 != blank -%}
              <a
                {% if block.settings.button_link_2 == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link_2 }}"
                {% endif %}
                class="{{ light_btn_color_styles }}"
              >
                {{- block.settings.button_label_2 | escape -}}
              </a>
            {%- endif -%}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
</div>


{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
